# Documentation du Notebook `upload-data.ipynb`

### Introduction

Ce notebook a pour objectif de démontrer comment se connecter à une base de données PostgreSQL en utilisant SQLAlchemy et comment charger des données dans cette base de données.

### Étapes

1. **Importation des bibliothèques nécessaires** :
    - Nous avons importé les bibliothèques `pandas` et `sqlalchemy` pour la manipulation des données et la connexion à la base de données.

2. **Création de l'engine SQLAlchemy** :
    - Nous avons créé un engine SQLAlchemy pour se connecter à la base de données PostgreSQL en utilisant les informations d'identification suivantes :
        ```python
        engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
        ```

3. **Chargement des données** :
    - Nous avons chargé les données à partir d'une source (par exemple, un fichier CSV) dans un DataFrame pandas.
    - Ensuite, nous avons utilisé la méthode `to_sql` de pandas pour insérer les données dans une table de la base de données PostgreSQL.

### Exemple de code

Voici un exemple de code pour charger des données dans la base de données :

```python
import pandas as pd
from sqlalchemy import create_engine

# Créer l'engine SQLAlchemy
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

# Charger les données à partir d'un fichier CSV
df = pd.read_csv('path/to/your/data.csv')

# Insérer les données dans la table 'ny_taxi_data'
df.to_sql('ny_taxi_data', engine, if_exists='replace', index=False)

Conclusion
Ce notebook montre comment se connecter à une base de données PostgreSQL et charger des données en utilisant SQLAlchemy et pandas. Assurez-vous d'avoir le module psycopg2 installé pour que la connexion fonctionne correctement.

Dépendances
pandas
sqlalchemy
psycopg2-binary
Pour installer les dépendances, vous pouvez utiliser la commande suivante :

In [ ]:
import pandas as pd

pd.__version__

'2.2.3'

In [ ]:
data = pd.read_csv('yellow_tripdata_2021-01.csv',nrows=100)

In [ ]:
data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [ ]:
data.dtypes

VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
RatecodeID                 int64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
dtype: object

In [ ]:
# the data types of the columns
data.tpep_pickup_datetime = pd.to_datetime(data.tpep_pickup_datetime)
data.tpep_dropoff_datetime = pd.to_datetime(data.tpep_dropoff_datetime)

In [ ]:
data.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                   int64
trip_distance                   float64
RatecodeID                        int64
store_and_fwd_flag               object
PULocationID                      int64
DOLocationID                      int64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
dtype: object

In [ ]:
# Connexion to the database
import sqlalchemy
from sqlalchemy import create_engine

In [ ]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [ ]:
engine.connect()

In [ ]:
# Not load all the data in the database using the chunksize parameter
data_iter = pd.read_csv('yellow_tripdata_2021-01.csv',iterator=True, chunksize=100000)

In [ ]:
data_iter

In [ ]:
data = next(data_iter)

In [ ]:
len(data)

100000

In [ ]:
# the data types of the columns
data.tpep_pickup_datetime = pd.to_datetime(data.tpep_pickup_datetime)
data.tpep_dropoff_datetime = pd.to_datetime(data.tpep_dropoff_datetime)

In [ ]:
data.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                   int64
trip_distance                   float64
RatecodeID                        int64
store_and_fwd_flag               object
PULocationID                      int64
DOLocationID                      int64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
dtype: object

In [ ]:
print(pd.io.sql.get_schema(data, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [55]:
# Load the data in the database
data.to_sql('yellow_taxi_data', con=engine, if_exists='replace')

1000

In [57]:
from time import time 
while True:
    try:
        t_start= time()
        data = next(data_iter)
        data.tpep_pickup_datetime = pd.to_datetime(data.tpep_pickup_datetime)
        data.tpep_dropoff_datetime = pd.to_datetime(data.tpep_dropoff_datetime)
        data.to_sql('yellow_taxi_data', con=engine, if_exists='append')
        t_end = time() 
        print('Inserted another chunk, took %3.f second' % (t_end - t_start))
    except StopIteration: 
        break

Inserted another chunk, took   4 second
Inserted another chunk, took   4 second
Inserted another chunk, took   4 second
Inserted another chunk, took   4 second
Inserted another chunk, took   4 second
Inserted another chunk, took   4 second
Inserted another chunk, took   4 second
Inserted another chunk, took   4 second

/var/folders/8g/9y3kwvgx747dbjd3fj07_8zm0000gn/T/ipykernel_35456/1750696664.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  data = next(data_iter)

Inserted another chunk, took   4 second
Inserted another chunk, took   2 second